body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.bg-img { 
    background-image: url("./images/pokemonBG.jpeg");
    background-position-x: center;
    background-size: cover;
    
    /* figure out how to keep bg img to extend when flex wrapping trainers */
    height: 100vh; 

    display: flex;
    flex-direction: column;
}

.trainer-select {
    display: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.trainer-1,
.trainer-2,
.trainer-3,
.trainer-4 {
    border: solid;
    border-color: black;
    height: 500px;
    width: 300px;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(255, 253, 249, 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer-1:hover {
    background-color: rgba(255, 253, 249, 0.685);
}

.trainer-img img {
    height: 250px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 50px;
}