@font-face {
    font-family: pokemon-solid-font;
    src: url(fonts/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf);
}

@font-face {
    font-family: pokemon-gb-font;
    src: url(fonts/pokemon-gb-font/PokemonGb-RAeo.ttf);
}

@font-face {
    font-family: pokemon-hollow-font;
    src: url(fonts/pokemon-hollow-font/PokemonHollowNormal-pyPZ.ttf);
}

body {
    margin: 0;
    background-image: url("./images/pokemonBG.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: pokemon-solid-font;
    color: yellow;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container { 
    display: flex;
    flex-direction: column;
}

.trainer-select {
    display: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.trainer-1,
.trainer-2,
.trainer-3,
.trainer-4 {
    border: solid;
    border-color: black;
    height: 500px;
    width: 300px;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(255, 253, 249, 50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.trainer-1:hover,
.trainer-2:hover,
.trainer-3:hover,
.trainer-4:hover {
    background-color: rgba(255, 253, 249, 0.685);
}

.trainer-img img,
.trainer-back-img img {
    height: 250px;
}

.trainer-name {
    font-family: pokemon-solid-font;
    font-size: 20px;
}

.trainer-description {
    margin: 0 20px;
    margin-bottom: 35px;
    font-family: pokemon-solid-font;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 50px;
}

.game-container {
    /* background-color: white; */
    height: 75vh;
    width: 600px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.opponent-container,
.player-container {
    display: flex;
    min-height: 300px;
    align-items: center;
    margin: 25px;
    justify-content: space-around;
    background-color: rgba(255, 253, 249, 0.5);
    border-radius: 10px;
}

.opponent-container {
    justify-content: left;
    gap: 50px;
}

.player-abil-info-container,
.opponent-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.opponent-info-container {
    margin-left: 30px;
}

.trainer-pokemon,
.opponent-pokemon {
    align-self: center;
    height: 100px;
}

.opponent-pokemon img {
    height: 100px;
}

.player-btns,
.player-abil-btns,
.other-btns {
    background-color: whitesmoke;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.other-btns {
    display: none;
}

.player-btns p {
    font-size: 10px;
    margin: 0 10px;
}

.player-btns button {
    background-color: whitesmoke;
    border: none;
}

.player-btns button:hover {
    text-decoration: underline;
}

.player-lives,
.player-lives img,
.opponent-lives,
.opponent-lives img {
    height: 20px;
}

.player-lives {
    align-self: self-end;
}

.opponent-text-container {
    background-color: whitesmoke;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponent-text-container p {
    margin: 10px;
}

.opponent-text-container,
.player-abil-btns,
.player-btns button {
    font-family: pokemon-gb-font;
    font-size: 12px;
    text-align: center;
}
